/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

header {
	top: 0;
	width: 100%;
	overflow: hidden;
	text-align: center;

}

.nav_bar {
	margin: 30px 0px 30px 0px;
	vertical-align: top;
	display: flex;
	justify-content: center;
}

.nav_bar a {
	text-decoration: none;
	margin: auto;
	padding: 25px;
}

.logo {
	margin-top: 20px;
	margin-left: 80px;
	vertical-align: middle;
}

.parents {
	text-align: right;
	margin-top: 20px;
}

.twins {
	border: 1px solid red;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	/*
	width: 50%;
	margin-right: 5px;
	margin-left: 85px;
	padding-top: 50px;
	text-align: center;
	vertical-align: top;
	*/
}

h1 {
	border: 1px solid red;
	font-size: 75px;
	flex: left;
}

button {
	border: 1px solid red;
	border: 1px solid black;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	color: rgb(7, 7, 7);
	padding: 3px 40px;
}

.topimg {
	display: flex;
	border: 1px solid red;
	justify-content: flex-end;
}

.top-content {
	border: 1px solid black;
	width: 100%;
}

.feat {
	margin-top: 5%;
	float: right;
	width: 50%;
	font-size: 25px;
}

.feat p {
	width: 90%;
}
.about {
	margin-top: 5%;
	float: left;
	width: 50%;
	font-size: 25px;
}

.about p {
	width: 90%;
}
.middle-img {
	margin-top: 5%;
	width: 100%;
}

.bottom-content {
	width: 100%;
}

.services {
	display: inline-block;
	width: 27%;
	font-size: 20px;
}

.services p {
	width: 100%;
}

.product {
	display: inline-block;
	margin: 3%;
	width: 27%;
	font-size: 20px;
}

.product p {
	float: middle;
	width: 100%;
}

.vision {
	display: inline-block;
	margin: 3%;
	width: 27%;
	font-size: 20px;
}

.vision p {
	float: middle;
	width: 100%
}

.contact {
	float: left;
	width: 10%;
	line-height: 20px;
}

.contact p {
	line-height: 50px
}


footer {
	text-align: center;
	margin-top: 15%;
	margin-right:20%;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */